 .Header-fl{
 flex-direction: column;
 display: flex;
}
.Header {

    list-style-type: none;
    margin: 0;
    padding-left:  50px;
    overflow: hidden;
    background-color: #EEEEEE;
}


ul.Header li a {
    display: block;
   
    padding: 8px 16px;
    text-decoration: none;
    float:left;
}
ul.Header li a:hover {
    color:skyblue
    
}


#Header-right{
    float: right;

}
#cars{
    float: right;
    margin-right: 82px;
    margin-top: 10px;
    border: none;
    background-color: #EEEEEE;
}
 .navabar1{
    float: right; 

}
.navbar1 {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 55px;
   

    
}

ul.navbar1 li a {
    display: block;
     color: #000000;  
   
    padding: 5px 5px;
    text-decoration: none;
    float:right;
    margin-right: 30px;
    transition: all 300ms;
    
    
}

li a:hover {
color: cadetblue;
}
 #Nav{
    float: left;
    padding-top: 5px;
    margin-left: 50px;
} 

.navbar2 {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
    overflow: hidden;
    background-color: #201313;
    padding-right: 84px;
    }

ul.navbar2  li a{
    display: block;
    color: #e9e0e0; 
  
   padding: 8px 16px;
   text-decoration: none;
   float:right;
      
}
img {
    border-radius: 8px;
    width: 100px;
    margin-left:100px ;
  }
  



.Search{
    position: absolute;
    width: 509px;
    height: 32px;
    margin-left: 347px;
    border: none;
    border-radius: 15Px;
    padding-left: 16px;
    margin-top: 4px;
       
}  
.navbar3{
    height: 800px;
    
    background-color: rgb(204, 195, 195);
}

.button{
    color: darkmagenta;
    margin-left: 500px;
    border-radius: 2px;
}
    .column {
    float: left;
    width: 95%;
    padding: 0px;
    height: 300px; 
    background-color: #EEEEEE;
    padding-top: 15%;
    padding-bottom: 10%;
    padding-left: 5%;
    background-image: url(../Images/digital_slider_1.jpg);
    
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .col-3-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    height: auto;
  }
  .btn-Type{
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px 28px;
    margin-left: 280px;
  }
  .btn-Type:hover{
     background-color:skyblue;
     color:white;
     border:none;
  }
  .Header-list{
    color: #878787;
    font-size: 12px;
    background-color: #EEEEEE;
    text-decoration: none;
    font-variant: inherit;
  }
  .new1{
    font-size: 50px;
    font-weight: 700;
    line-height: 0px;
  }
  
  .new2{
      padding-left: 287px;
      font-weight: 600;
      list-style: none;
      
      font-family: 'Poppins','Open Sans','Helvetica Neue';
  }
  .new3{
    padding-left: 284px;
    line-height: 12px;

  }
   .new4{
       color:#878787;
       padding-left: 280px ;
   }