.column {
    float: left;
    width: 29%;
    padding: 0px;
    height: 300px; /* Should be removed. Only for demonstration */
    margin: 25px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .PL{
      padding-left: 20px;
  }
  .HL{
      padding-left: 20PX;
  }